/* stilo para a calculadora */
*{
     margin: 0;
     padding: 0;
}

body {
     font-family: Arial, sans-serif;
     background-color:#E6E6FA;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }
 
 .fundo {
     background-color: #ffffff;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
     text-align: center;
     width: 300px;
 }
 
 h1 {
     font-size: 24px;
     color: #333;
     margin-bottom: 20px;
 }
 
 .calculadora h2 {
     font-size: 18px;
     color: #555;
     margin-bottom: 10px;
 }
 
 #resultado {
     background-color: #eaeaea;
     border: 1px solid #ccc;
     border-radius: 5px;
     padding: 10px;
     font-size: 20px;
     text-align: right;
     margin-bottom: 10px;
     height: 40px;
     overflow: hidden;
 }
 
 table {
     width: 100%;
     border-spacing: 10px;
 }
 
 button {
     width: 100%;
     padding: 15px;
     font-size: 18px;
     border: none;
     border-radius: 5px;
     background-color:#FF00FF;
     color: white;
     cursor: pointer;
     transition: background-color 0.3s;
 }
 
 button:hover {
     background-color: #DDA0DD;
 }
 
 button:active {
     background-color: #DA70D6;
 }